<!DOCTYPE html>
<html lang="en">

  <head>
    <title>Website Diff Tool | Report</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/main.css">
  </head>

  <body role="document">

    <div class="navbar-collapse">
      <ul class="nav navbar-nav" style="display:inline-block;">
        <li style="display:inline-block;"><a href="./config">Configuration</a></li>
        <li style="display:inline-block;" class="active"><a href="./report"><b>Current Report</b></a></li>
        <li style="display:inline-block;"><a href="./reports">Run Log</a></li>
      </ul>
    </div>

    <div id="page-header">
      <h3 style="text-align:center;">Screen Capture Comparison Results</h3>

      {% if executed %}

      <div id="run-details" style="text-align:center">
        <b>Generated: </b><i>{{time}}</i><br/>
        <b>Build: </b><i>{{build}}</i>
      </div>
    </div>
    <div id="run-details" style="margin-top:10px; padding:5px; margin-bottom:40px;">
      <dl id="status_list">
          <dt><span style="color:green">Pass:&nbsp</span></dt>
          <dd>
            <span id="pass_count">{{status.pass_count}}</span> / <span id="total">{{status.total}}</span> &nbsp;&nbsp;
            <span id="pass_pct"></span>
          </dd>
          <dt><span style="color:red">Fail:&nbsp</span></dt>
          <dd>
            <span id="fail_count">{{status.fail_count}}</span> / {{status.total}} &nbsp;&nbsp;
            <span id="fail_pct"></span>
          </dd>
          <dt><span style="color:red">Error:&nbsp</span></dt>
          <dd>
            <span id="error_count">{{status.error_count}}</span> / {{status.total}} &nbsp;&nbsp;
            <span id="error_pct"></span>
          </dd>
          <dt><span style="color:#777">N/A:&nbsp</span></dt>
          <dd>
            <span id="na_count">{{status.na_count}}</span> / {{status.total}} &nbsp;&nbsp;
            <span id="na_pct"></span>
          </dd>
          <dt><span style="color:#777">Resolved:&nbsp</span></dt>
          <dd>
            <span id="resolved_count">{{status.resolved_count}}</span> / {{status.total}} &nbsp;&nbsp;
            <span id="resolved_pct"></span>
          </dd>
      </dl>
    </div>

    <div id="results">
      {% for testResult in results %}
        <div style="margin:10px; padding:10px; border-radius:3px; box-shadow: 0 0 1px #777; background-color:white; ">
          <h4 style="margin:5px; display:inline;">
            <span id="min-max-{{loop.index}}" onclick="minmax({{loop.index}})">[ &ndash; ]</span>
          </h4>
            {% if testResult.result == "FAIL" or testResult.result == "ERROR" %}
              <h4 style="display:inline;">
                <span id="status-{{loop.index}}" style="color:red;">{{testResult.result}} : </span>{{ testResult.uri }}
              </h4>
              <div id="explanation-{{loop.index}}" style="margin-left:50px;">
                <p>
                  => <i>{{testResult.explanation}}</i>
                </p>
              </div>
            {% elseif testResult.result == "N/A" %}
              <h4 style="display:inline;">
                <span id="status-{{loop.index}}" style="color:#777777;">N/A : </span>{{ testResult.uri }}
              </h4>
              <div id="explanation-{{loop.index}}" style="margin-left:50px;">
                <p>
                  => <i>{{testResult.explanation}}</i>
                </p>
              </div>
            {% elseif testResult.result == "RESOLVED" %}
              <h4 style="display:inline;">
                <span id="status-{{loop.index}}" style="color:green;">RESOLVED : </span>{{ testResult.uri }}
              </h4>
            {% else %}
              <h4 style="display:inline;">
                <span id="status-{{loop.index}}" style="color:green;">PASS : </span>{{ testResult.uri }}
              </h4>
            {% endif %}

          {% if testResult.result == "FAIL" %}
          <div id="images-{{loop.index}}">
            <div class="outerImageContainer">
              <div>
                <a href="{{testResult.img2}}">
                  <img id="img-curr-{{loop.index}}" src="{{testResult.img2}}" width="100%" style="border:1px solid black">
                </a>
              </div>
              <div style="text-align:center; margin-top:3px; margin-bottom:3px;">
                Current
              </div>
            </div>
            <div class="outerImageContainer">
              <div>
                <a href="{{testResult.img1}}">
                  <img id="img-prev-{{loop.index}}" src="{{testResult.img1}}" width="100%" style="border:1px solid black">
                </a>
              </div>
              <div style="text-align:center; margin-top:3px; margin-bottom:3px;">
                Previous
              </div>
            </div>
            <div class="outerImageContainer">
              <div>
                <a href="{{testResult.diff}}">
                  <img id="img-diff-{{loop.index}}" src="{{testResult.diff}}" width="100%" style="border:1px solid black">
                </a>
              </div>
              <div style="text-align:center; margin-top:3px; margin-bottom:3px;">
                Difference
              </div>
            </div>
          </div>
          {% endif %}
          {% if testResult.result == "FAIL" %}
          <div style="margin-left:auto; margin-right:auto; width:200px;">
            <div id="master-btn-{{loop.index}}" class="master_button_div">
              <button class="btn btn-primary btn-block" onclick="setToMaster({{loop.index}})">Set to New Master</button>
            </div>
          </div>
          {% endif %}
        </div>
      {% endfor %}
    </div>

    <script type="text/javascript">

      var total_tests = document.getElementById("total").innerHTML;
      updatePercent();

      function updatePercent() {
        total_tests     = document.getElementById("total").innerHTML;
        var pass_count  = document.getElementById("pass_count").innerHTML;
        var fail_count  = document.getElementById("fail_count").innerHTML;
        var error_count = document.getElementById("error_count").innerHTML;
        var na_count    = document.getElementById("na_count").innerHTML;
        var res_count   = document.getElementById("resolved_count").innerHTML;

        document.getElementById('pass_pct').innerHTML = "[ " + pass_count/total_tests * 100 + " % ]";
        document.getElementById('fail_pct').innerHTML = "[ " + fail_count/total_tests * 100 + " % ]";
        document.getElementById('error_pct').innerHTML = "[ " + error_count/total_tests * 100 + " % ]";
        document.getElementById('na_pct').innerHTML = "[ " + na_count/total_tests * 100 + " % ]";
        document.getElementById('resolved_pct').innerHTML = "[ " + res_count/total_tests * 100 + " % ]";

        document.getElementById('na_pct').innerHTML = "[ " + na_count/total_tests * 100 + " % ]";

      }

      function minmax(index){
        var explanation = document.getElementById("explanation-" + index);
        var master_btn = document.getElementById("master-btn-" + index);
        var images  = document.getElementById("images-" + index);
        var min_max = document.getElementById("min-max-" + index);

        if (explanation != null) {
          explanation.style.display = explanation.style.display != 'none' ? 'none' : '';
        }
        if (images != null) {
          images.style.display = images.style.display != 'none' ? 'none' : '';
        }
        if (master_btn != null) {
          master_btn.style.display = master_btn.style.display != 'none' ? 'none' : '';
        }
        if (explanation != null) {
          min_max.innerHTML = explanation.style.display != 'none' ? "[ &ndash; ]" : "[ + ]";
        }
      }

      var master_count = 0;


      function setMaster(index) {

        var status = document.getElementById("status-" + index);
        status.innerHTML = "Resolved : ";
        status.style.color = "green";

        master_count++;

        /*document.getElementById("master-btn-" + index).remove();
        document.getElementById("explanation-" + index).remove();

        if (document.getElementById("resolved_count") == null) {
          var dt = document.createElement('dt');
          var dd = document.createElement('dd');
          dd.id = 'resolved_count';

          dt.innerHTML = '<span style="color:green">Resolved:&nbsp</span>';
          dd.innerHTML = master_count + ' / ' + total_tests;
          document.getElementById("status_list").appendChild(dt);
          document.getElementById("status_list").appendChild(dd);
        } else {
          document.getElementById("resolved_count").innerHTML = master_count + ' / ' + total_tests;
        }

        var fail_count = document.getElementById("fail_count");
        fail_count.innerHTML = fail_count.innerHTML - 1;

        minmax(index);
        updatePercent();*/
      }

    function setToMaster(index) {
      var curr_img = document.getElementById('img-curr-' + index).getAttribute('src');
      var prev_img = document.getElementById('img-prev-' + index).getAttribute('src');

      var url = "/master";
      var data = JSON.stringify({'current':curr_img, 'previous':prev_img, 'index':index});

      var client = new XMLHttpRequest();

      client.open("POST", url, false);
      client.setRequestHeader("Content-Type", "application/json");
      client.send(data);

      if (client.status == 200)
          //setMaster(index);
          window.location.replace("/report");
      else
          alert("The request did not succeed!\n\nThe response status was: " + client.status + " " + client.statusText + ".");
    }

    </script>

    {% else %}
      <div id="main">
        <p style="margin-left:auto; margin-right:auto; margin-top:30px; text-align:center">
          Please generate a report first in by setting parameters in the <a href="./config">configuration</a> section
        </p>
      </div>

    </div>
    {% endif %}

  </body>
